:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #153044;
  background-color: #f7f5e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #153044;
  color: #eae2e2;
  padding: 40px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  color: #dd5739;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
}

h3 {
  font-size: 1em;
  line-height: 1.1;
  color: #dd5739;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 2;
  color: #153044;
  padding: 10px;
  border-radius: 8px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #153044;
  color: #e0ddd6;
  text-decoration: none;
  gap: 10px;
}

#navbar a {
  color: #e0ddd6;
  text-decoration: none;
}

#navbar a:hover {
  color: #dd5739;
}

.dropdown-topic a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: large;
  margin: 8px;
}

.filter-menu {
  position: relative;
  background-color: #153044;
  height: 40px;
  width: 100px;
  text-align: start;
}

.article-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.article-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #153044;
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.article-card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.article-card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  flex-grow: 1;
}

.article-card .title {
  font-size: 1.2em;
  line-height: 1.2;
  color: #153044;
  margin-bottom: 10px;
}

.article-card .author,
.article-card .created-at {
  font-size: 1em;
  color: #dd5739;
  margin-top: auto;
}

.article-card a {
  text-decoration: none;
}

.article-card a:hover .title {
  color: #dd5739;
}

.article-card .created-at {
  font-style: italic;
}

.single-article-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #153044;
  border-radius: 20px;
  padding: 50px;
  margin: 50px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #153044;
  border-radius: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 20px;
}

#delete-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #153044;
  cursor: pointer;
  border: #dd5739;
  transition: border-color 0.25s;
  width: 300px;
}

.post-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #153044;
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
}

.post-form textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  width: 80%;
  padding: 12px;
  box-sizing: border-box;
  background-color: #153044;
  border: 5px solid rgb(225, 125, 11);
  border-radius: 8px;
}

.post-form button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #153044;
  cursor: pointer;
  border: #dd5739;
  transition: border-color 0.25s;
  width: 300px;
}

#comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#comment-form input {
  width: 80%;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

#username-form {
  width: 40%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.user-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f5e8;
  border: 2px solid #153044;
  border-radius: 12px;
  padding: 20px;
  margin: auto;
  height: auto;
  width: 100%;
  transition: transform 0.2s ease;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.user-buttons {
  margin-top: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.user-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #153044;
  cursor: pointer;
  border: #dd5739;
  transition: border-color 0.25s;
}
button:hover {
  border: 3px solid #dd5739;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
